$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;

@mixin easeInOut {
  transition: all 0.7s ease-in-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) >40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) /* Anything inside here will apply when the screen is <500px wide */ {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) /* Anything inside here will apply when the screen is <768px wide */ {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170) /* Anything inside here will apply when the screen is between 768 and 1170px wide */ {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) /* Anything inside here will apply when the screen is >1170 wide */ {
    @content;
  }
}
